.cabecalho {
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 90;
}

.cabecalho__texto {
    font-family: var(--font-family);
    font-size: 1.3rem;
    color: var(--cor-cabecalho-texto);
    font-weight: var(--pesoL-cabecalho-texto);
    line-height: var(--espacamento-cabecalho-texto);
}

.cabecalho__texto-negrito {
    font-weight: var(--pesoB-cabecalho-texto);
}

.cabecalho__logo {
    background-image: url(../img/caixa.png);
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 90;
}